.headerstyle {
    background-color: #f8f9fa;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.headerstyle img {
  height: 75px;
  width: 75px;
  border-radius: 30px;  
}